$navbar-bg-color: rgba(16, 16, 29, 0.9);
$primary-color: #fff;
$navbar-text-color-focus: #286690;
$dark-color: #000;

/* ============ header ============ */

#navbar {
  position: fixed;
  height: 64px;
  background-color: $navbar-bg-color;
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 6;

  &-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &:is(:focus, :hover) .icon-bar {
      background-color: $navbar-text-color-focus;
    }

    &[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
      position: absolute;
      margin: 0;
      width: 30px;
    }

    &[aria-expanded="true"] .icon-bar:first-child {
      transform: rotate(45deg);
    }

    &[aria-expanded="true"] .icon-bar:nth-child(2) {
      opacity: 0;
    }

    &[aria-expanded="true"] .icon-bar:last-child {
      transform: rotate(-45deg);
    }

    &[aria-expanded="true"] + #navbar-menu {
      background-color: $dark-color;
      opacity: 1;
      visibility: visible;
    }

    &[aria-expanded="true"] + #navbar-menu .navbar-links {
      padding: 1em;
    }
  }

  &-menu {
    position: fixed;
    top: 64px;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
  }
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.navbar-item {
  margin: 0.4em;
  width: auto;
}

.home-link,
.home-link span {
  font-family: "Raleway";
  text-decoration: none;
  display: flex;
  font-weight: 800;
  align-items: center;
  font-size: 1.6rem;
  line-height: 1.9rem;
  text-transform: uppercase;
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
  border-radius: 5px;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;

  &:is(:focus, :hover) {
    color: $navbar-text-color-focus;
  }
}

.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: $primary-color;
}

.navbar-links {
  list-style: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.navbar-item.active .navbar-link {
  color: #43abf0;
}
